USE [master]
GO
/****** Object:  Database [Roomix]    Script Date: 19/07/2018 17:07:14 ******/
CREATE DATABASE [Roomix]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Roomix', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Roomix.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Roomix_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Roomix.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Roomix].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Roomix]
GO
USE [Roomix]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 19/07/2018 17:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 19/07/2018 17:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Civilities]    Script Date: 19/07/2018 17:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Civilities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_dbo.Civilities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 19/07/2018 17:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UserID] [int] NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/07/2018 17:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CivilityID] [int] NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](max) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name]) VALUES (1, N'Salle de réunion')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (2, N'Salle de pause')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (3, N'Salle de cours')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Civilities] ON 

INSERT [dbo].[Civilities] ([ID], [Label]) VALUES (1, N'Monsieur')
INSERT [dbo].[Civilities] ([ID], [Label]) VALUES (2, N'Madame')
INSERT [dbo].[Civilities] ([ID], [Label]) VALUES (3, N'Mademoiselle')
SET IDENTITY_INSERT [dbo].[Civilities] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([ID], [Name], [Capacity], [Price], [Description], [CreatedAt], [UserID], [CategoryID]) VALUES (2, N'Super Salle de réunion', 30, CAST(100.00 AS Decimal(18, 2)), N'lsdkfjglkqhg', CAST(N'2018-07-19T00:00:00.000' AS DateTime), 19, 1)
INSERT [dbo].[Rooms] ([ID], [Name], [Capacity], [Price], [Description], [CreatedAt], [UserID], [CategoryID]) VALUES (3, N'Super Salle de pause', 20, CAST(50.00 AS Decimal(18, 2)), N'sdjqlksjgf', CAST(N'2018-07-19T00:00:00.000' AS DateTime), 11, 2)
INSERT [dbo].[Rooms] ([ID], [Name], [Capacity], [Price], [Description], [CreatedAt], [UserID], [CategoryID]) VALUES (4, N'Super salle de cours', 15, CAST(45.00 AS Decimal(18, 2)), N'<p>Il fait chaud, on est serr&eacute;, mais l''ambiance est sympa !!</p>', CAST(N'2018-05-14T00:00:00.000' AS DateTime), 34, 3)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [CivilityID], [Lastname], [Firstname], [Mail], [BirthDate], [Password]) VALUES (1, 1, N'Mouchard', N'Florian', N'flo.mouchard@plouf.fr', CAST(N'1988-04-28T00:00:00.000' AS DateTime), N'P@ssw0rd')
INSERT [dbo].[Users] ([ID], [CivilityID], [Lastname], [Firstname], [Mail], [BirthDate], [Password]) VALUES (2, 1, N'Burke', N'Kadeem', N'sit.amet.dapibus@enim.co.uk', CAST(N'2018-11-05T00:00:00.000' AS DateTime), N'P@ssw0rd')
INSERT [dbo].[Users] ([ID], [CivilityID], [Lastname], [Firstname], [Mail], [BirthDate], [Password]) VALUES (3, 1, N'Barrett', N'Uma', N'velit@mollisDuissit.edu', CAST(N'2018-11-15T00:00:00.000' AS DateTime), N'P@ssw0rd')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_CategoryID]    Script Date: 19/07/2018 17:07:15 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Rooms]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 19/07/2018 17:07:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Rooms]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CivilityID]    Script Date: 19/07/2018 17:07:15 ******/
CREATE NONCLUSTERED INDEX [IX_CivilityID] ON [dbo].[Users]
(
	[CivilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [CategoryID]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rooms_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_dbo.Rooms_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rooms_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_dbo.Rooms_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Civilities_CivilityID] FOREIGN KEY([CivilityID])
REFERENCES [dbo].[Civilities] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Civilities_CivilityID]
GO
USE [master]
GO
