@model IEnumerable<FloGestionSalles.Models.Room>

@{
    Layout = null;
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <p style="color:burlywood">@item.Name</p>
            <p style="color:aliceblue">@item.Price</p>
        </div>
    }


</div>
