.input-validation-error{
    border-left: #ff0000 2px solid;
}
.field-validation-error{
    font-size: small;
}

footer {    
    position: absolute;
    bottom: 0;   
    width: 58%;
    height: 30px;
}
